{% extends "base.html" %} {% block content %}
<div class="about-section">
  <h3>What is this?</h3>
  <p>
    This is the continuation of a long running project in which I drastically
    revamp every year or so. It start with my friends and I sending each other
    interesting things on the internet as most people do. Knowing that I was
    missing out on great content that my friends were sending other people, I
    start the
    <a
      href="https://thecommunitytab.substack.com/p/introducing-the-tab"
      target="_blank"
      >The Tab</a
    >. which was a project to collect the most interesting and inspiring content
    from you and your friends, shares it, and provides a list of some of the
    highlights, curated by other members of the community. After about half a
    year of The Tab, we revived it with
    <a href="https://www.reddit.com/r/thecontentclub/" target="_blank"
      >Content Club</a
    >, moving to a subreddit to place a greater emphasis on discussing this
    content. That brings us to Content We Love, a project to compile all the fun
    content we have collected and present it a visually appealing way. This also
    was a great project to build my web development skills. I hope you enjoy and
    find something you find compelling.
  </p>
  <p>Have any suggestion for improvements? Please let me know!</p>
  <h3>Can I submit a piece of content I recently found?</h3>
  <p>
    Yes of course! Please use the form
    <a
      href="https://airtable.com/appfRI9pJ5OIOt9LV/pagpD64qZvaEDItjp/form"
      target="_blank"
      >here</a
    >
    to submit the peice of content.
  </p>
  <h3>
    This looks a lot like
    <a
      href="https://apps.npr.org/best-books/#view=covers&year=2023"
      target="_blank"
      >NPR's Books We Love</a
    >?
  </h3>
  <p>
    Glad you noticed! This project was inspired by NPR's Books We Love (formerly
    the Book Concierge). Although it was not used much in my project, NPR does
    post the
    <a href="https://github.com/nprapps/book-concierge" target="_blank">code</a>
    for their site which is fun.
  </p>
  <h3>What are some of your favorite pieces of content?</h3>
  <p>I thought you'd never ask. Read this</p>
  <h3>
    I'm dying to know details about the technical implementation, please do
    share.
  </h3>
  <p>
    Well, if you must know... The site uses Flask (a python framework) as a
    backend that fetches the data from the Airtable API. A python package
    <a href="https://pypi.org/project/url-metadata/" target="_blank"
      >url-metadata</a
    >
    was used to scrape cover images and descriptions for content when available.
    Layout and interaction is done through vanilla JS and CSS. The site is
    hosted on Heroku. Code for the project cen be found here.
  </p>
</div>

{% endblock %}
