<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/about.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{{url_for('static', filename='fetch.js')}}"></script>
    <title>Content We Love</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="{{ url_for('home') }}">
        <button>Home</button>
      </a>
      <a href="{{ url_for('about') }}">
        <button>About</button>
      </a>
      <a
        target="_blank"
        href="https://airtable.com/appfRI9pJ5OIOt9LV/pagpD64qZvaEDItjp/form"
      >
        <button>Submit Content</button>
      </a>
    </div>
    <div class="header">
      <h1>Content We Love</h1>
      <h2>Great reads, thoughtfully curated by your friends.</h2>
    </div>

    {% block content %} {%endblock%}

    <div class="nav-bar footer">
      <div class="created-by">
        Created by <a href="https://asteinhart.github.io/">Austin Steinhart</a>
      </div>
      <div class="nav-bar footer">
        <a href="{{ url_for('home') }}">
          <button>Home</button>
        </a>
        <a href="{{ url_for('about') }}">
          <button>About</button>
        </a>
        <a
          target="_blank"
          href="https://airtable.com/appfRI9pJ5OIOt9LV/pagpD64qZvaEDItjp/form"
        >
          <button>Submit Content</button>
        </a>
      </div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
