@import url(https://fonts.googleapis.com/css?family=Public+Sans:400,400i,500,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i);

:root {
  --primaryColor: steelblue;
  --offwhiteColor: #EBE9E4
  --textWidth: 50vw;
  --mobileWidth: 90vw;
}

body {
  font-family: "Public Sans", Helvetica, sans-serif;
  margin: 0;
  background: #EBE9E4;
  min-height: 100vh;
}

#loading {
  font-family: "Public Sans", Helvetica, sans-serif;
  font-size: clamp(16px,2vw,60px);
  margin: 50px;
}

.fa.fa-spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header {
  margin: 0;
  padding: 40px;
  padding-top: 10px;
  text-align: center;
  color: white;
  background-color: var(--primaryColor);
}

.header h1 {
  font-family: "Merriweather", Helvetica, sans-serif;
  font-size: clamp(40px,6vw,80px)
}

.header h2 {
  font-size: clamp(16px,2vw,60px);
}

.header h1, h2 {
  margin: 5px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 0;
  padding: 10px;
  background-color: var(--primaryColor);  
}

.nav-bar button {
  font-family: "Public Sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--primaryColor);
  border: 1.5px white solid;
  border-radius: 25px;
  color: white;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  
}

.nav-bar button:hover {
  background-color: white;
  color: var(--primaryColor);
}

.filters {
  position: sticky;
  top: 20px;
  flex: 0 0 225px;
  height: 80vh;
  padding: 20px;
  padding-top: 5px;
  font-size: clamp(14px,1.2vw,20px);

}

.filters h3 {
  font-size: clamp(14px,1.5vw,22px);
}

.filter-buttons{
display: flex;
flex-direction: column;
gap: 10px;
}

.filter-buttons button {
  border: none;
  color: white;
  padding: 8px 75px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: none;
  font-size: clamp(12px,1.2vw,20px);
}

.fb {
  display: inline;
}

select {
  font-family: "Public Sans", Helvetica, sans-serif;
  background-color: var(--offwhiteColor);
  border: none;
  width: 100%;
  margin: 5px;
  font-size: clamp(12px,1.2vw,20px);
  font-style: italic;
}

.filter-buttons button:hover {
  background-color: white;
  border: 2px solid var(--primaryColor);
  color: black;
}

#concierge {
  display: flex;
}

.articles {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--offwhiteColor);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  padding-bottom: 0;
  background-color: var(--offwhiteColor);
  height: 20px;
  margin: 10px;
  font-size: clamp(12px,1.4vw,18px);
  vertical-align: middle;
}

input[type="radio"] {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  box-sizing: none;
  padding-block: 0;
  padding-inline: 0;
  width: 1px;
  height: 1px;
  position: absolute;
}

.controls label#label-grid {
  border-radius: 4px 0 0 4px;
}

.controls label#label-list {
  border-radius: 0 4px 4px 0;
}

label {
  padding: 5px 10px 5px 10px;
  border: 2px solid var(--primaryColor);
  margin: 0px;
  position: relative;
  color: var(--primaryColor);
  transition: 0.2s;
  background-color: var(--offwhiteColor);
  font-size: clamp(9px,1.2vw,18px)
}


input[type="radio"]:checked + label {
	background-color:var(--primaryColor);
	color: #ffffff;
}


.articles-container{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-around;
}


.article.grid{
  text-align: left;
  width: clamp(25%,29%,40%);
  min-width: 200px;;
  margin: 10px;
  padding: 8px;
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: .6em;
}

.article.grid img {
  width: 100%;
}

.article.list {
  text-align: left;
  width: 100%;
  margin: 10px;
  padding: 8px;
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: .6em;
}

.article:hover {
  color: white;
  background-color: var(--primaryColor);
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%
}

.article-container.grid {
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.info-container.list{
  flex: 60%;
  display: flex;
  flex-direction: column;
  gap: 7px; 
}

.info-container.grid{
  margin-top: 5px;
  flex: 60%;
  display: flex;
  flex-direction: column;
  gap: 7px; 
}

#article-title {
  font-size: clamp(16px, 2.5vw, 22px);
  font-weight: 550;
}

#article-pub {
  font-size: 12px;
}

#article-descrip {
  font-size: clamp(12px, 1.2vw, 16px);
}

.meta-container.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 25%;
    text-align: right;
    gap: 20px;
  }


.meta-container.grid {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: right;
  gap: 20px;
}

#tag-container-grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 5px;
  text-align: left;
}

#tag-container-list {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

#article-type {
  font-size: clamp(10px, 1vw, 15px);
}


.tag {
  padding: 2px 5px 2px 5px; /* Making space around letters */
  border-radius: 5px;
  margin-left: -2px; /* offset padding */
  color: white;
  font-size: clamp(10px, 0.9vw, 15px);
  min-width: 25px;
}

.tag.Politics {
  background-color: steelblue;
  color: white;
}

.tag.Education {
  background-color: darkred;
  color: white;
}

.tag.Social {
  background-color: darkgreen;
  color: white;
}

.tag.Visualization {
  background-color: purple;
  color: white;
}

.tag.Science {
  background-color: darkgoldenrod;
}

.tag.Life {
  background-color: crimson;
}
.tag.Economics {
  background-color: saddlebrown;
}

.tag.Law {
  background-color: dimgray;
}

.tag.The {
  background-color: midnightblue;
}

.tag.Stockton {
  background-color: teal;
}

.tag.Culture {
  background-color: teal;
}

.tag.Art {
  background-color: maroon;
}

.tag.Health {
  background-color: slateblue;
}

.tag.Learning {
  background-color: darkgreen;
}

.submit-more {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: clamp(12px,1.3vw,20px);
  font-style: italic;
}

.submit-more a {
  color: black;
}

.footer-bar {
  display: flex;
  
}

.nav-bar.footer {
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-bar-footer {

}

.nav-bar.footer a {
  color: white;
}

#img {
  text-align: center;
}
#img i {
  font-size: clamp(12em,16em,17em);
}

/* mobile CSS */
@media (min-width: 320px) and (max-width: 749px) {
  
.header h1 {
  font-size: clamp(30px,9vw,80px);
}

.header h2 {
  font-size: clamp(10px,3.5vw,80px);
}

.section-header {
  display: block;
  margin: 5px;
  padding: 5px;
  gap: 10px;
  font-size: 12px;
}

.controls label {
  font-size: 9px;
  padding: 3px 3px 3px 3px;
}

.filters {
  flex: 0 0 150px;
  padding: 10px;
}

.articles-container {
  margin: 0;
  justify-content: center;
}

.article.grid {
  width: 100%;
  min-width: 0;
  margin: 5px;
}

.article-container.list {
  flex-direction: column;
  flex-wrap: nowrap;

}

.article.list {
  margin: 5px;
}

.nav-bar.footer {
  font-size: clamp(8px,1.5vw,80px);
}

.nav-bar.footer button {
  font-size: clamp(8px,1.5vw,80px);
}
}

@media (min-width: 750px) and (max-width: 1199px) {
  .article.grid {
    width: 40%;
  }
}